.map {
  color: #666;
  text-align: left;
  font-size: 12px;
}
.App {
  background-color: palevioletred;
}
.permission-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: auto;
}
.retrieve-date {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
